{% extends "_base.html" %}

{% set title = t.cv.head.page_title %}
{% set description = t.cv.head.page_description %}


{% block content %}
<div class="grid grid-cols-1 mx-auto my-12 gap-y-8 gap-x-32 md:grid-cols-2">
    <article class="mb-8" itemscope itemtype="http://schema.org/Person">
        <div class="mb-6 space-y-4">
            <h2 class="flex items-center text-2xl font-semibold text-yellow-500">
                <i class="mr-2 fas fa-user"></i> <span>{{ t.cv.profile }}</span>
            </h2>
            <hr class="border-b-[1px] border-yellow-500"/>
        </div>

        <p class="text-gray-700 dark:text-gray-300" itemprop="description">{{ t.cv.bio }}</p>
    </article>

    <article class="mb-8" itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationEvent">
        <div class="mb-6 space-y-4">
            <h2 class="flex items-center text-2xl font-semibold text-yellow-500">
                <i class="mr-2 fas fa-graduation-cap"></i> <span>{{ t.cv.educations_title }}</span>
            </h2>
            <hr class="border-b-[1px] border-yellow-500"/>
        </div>

        {% for education in t.cv.educations %}
            <a href="{{ education.href }}" target="_blank" class="p-4 mb-6">
                <h3 class="text-xl font-semibold text-black dark:text-white" itemprop="name">{{ education.title }}</h3>
                <p class="text-gray-600 dark:text-gray-400">
                    <span itemprop="startDate">{{ education.startDate }}</span> - <span itemprop="endDate">{{ education.endDate }}</span>
                </p>

                <div itemscope itemtype="http://schema.org/EducationalOrganization">
                    <p class="text-gray-600 dark:text-gray-300" itemprop="name">{{ education.school }}</p>
                </div>
            </a>
        {% endfor %}
    </article>

    <article class="mb-8" itemprop="worksFor" itemscope itemtype="http://schema.org/WorkExperience">
        <div class="mb-6 space-y-4">
            <h2 class="flex items-center text-2xl font-semibold text-yellow-500">
                <i class="mr-2 fas fa-briefcase"></i> <span>{{ t.cv.experiences_title }}</span>
            </h2>
            <hr class="border-b-[1px] border-yellow-500"/>
        </div>

        {% for experience in t.cv.experiences %}
            <a href="{{ experience.href }}" target="_blank" class="mb-6">
                <h3 class="text-xl font-semibold text-black dark:text-white" itemprop="name">{{ experience.title }}</h3>
                <p class="text-gray-600 dark:text-gray-400">
                    <span itemprop="startDate">{{ experience.startDate }}</span> - <span itemprop="endDate">{{ experience.endDate }}</span>
                </p>

                <ul class="pl-5 text-gray-700 list-disc dark:text-gray-300">
                    {% for task in experience.tasks %}
                        <li itemprop="description">{{ task }}</li>
                    {% endfor %}
                </ul>
            </a>
        {% endfor %}
    </article>

    <article class="mb-8" itemscope itemtype="https://schema.org/Person">
        <div class="mb-6 space-y-4">
            <h2 class="flex items-center text-2xl font-semibold text-yellow-500">
                <i class="mr-2 fas fa-tools"></i> <span>{{ t.cv.skills_title }}</span>
            </h2>
            <hr class="border-b-[1px] border-yellow-500"/>
        </div>

        {% set skills_data = {
            "Frontend": [
                "HTML",
                "CSS (Tailwind)",
                "JavaScript (Alpine.js)"
            ],
            "Backend": [
                "Python"
            ],
            "Ubuntu": [
                "PHP-FPM",
                "MariaDB (MySQL)"
            ],
            "Other": [
                "Yara"
            ]
        } %}
        {% for category, skills in skills_data.items() %}
            <div class="mb-2">
                <h3 class="text-xl text-black dark:text-white">{{ category }}</h3>

                <ul class="flex flex-col text-gray-800 dark:text-gray-200" >
                    {% for skill in skills %}
                        <li itemprop="knowsAbout">{{ skill }}</li>
                    {% endfor %}
                </ul>
            </div>
        </template>
        {% endfor %}
    </article>

    <article class="mb-8" itemscope itemtype="https://schema.org/SoftwareApplication">
        <div class="mb-6 space-y-4">
            <h2 class="flex items-center text-2xl font-semibold text-yellow-500">
                <i class="mr-2 fas fa-project-diagram"></i> <span>{{ t.cv.projects_title }}</span>
            </h2>
            <hr class="border-b-[1px] border-yellow-500"/>
        </div>

        {% for project in t.cv.projects %}
            <div class="mb-4">
                <h3 class="text-xl font-semibold text-black dark:text-white" itemprop="name">{{ project.title }}</h3>
        
                <p class="text-gray-600 dark:text-gray-400">
                    <a href="{{ project.href }}" target="_blank" rel="noopener noreferrer" itemprop="url">{{ project.href }}</a>
                </p>

                <p class="text-gray-700 dark:text-gray-300" itemprop="description">{{ project.description }}</p>
            </div>
        {% endfor %}
    </article>

    <article itemscope itemtype="http://schema.org/Person">
        <div class="mb-6 space-y-4">
            <h2 class="flex items-center text-2xl font-semibold text-yellow-500">
                <i class="mr-2 fas fa-envelope"></i> <span>{{ t.cv.contact }}</span>
            </h2>
            <hr class="border-b-[1px] border-yellow-500"/>
        </div>

        <ul class="text-gray-700 dark:text-gray-300">
            <li><a itemprop="email" target="_blank" href="mailto:&#107;&#101;&#118;&#105;&#110;&#64;&#115;&#118;&#105;&#116;&#46;&#97;&#99;">&#107;&#101;&#118;&#105;&#110;&#64;&#115;&#118;&#105;&#116;&#46;&#97;&#99;</a></li>
        </ul>
    </article>
</div>
{% endblock content %}
