{% set title = title|default("Kevin Svitač") %}
{% set description = description|default("Stránka Kevina Svitača (SKevo).") %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        <title>{{ title }}</title>

        <link rel="stylesheet" href="./static/compiled.min.css" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.12.0/cdn.js" integrity="sha512-6pVa1JFPLsAVloI/eZXmbDkCWYVB3Y8ODVA2gVUIowY2laRHAYaYPE1f4KjSvPwNimMmGo4MvteDc3JZEjEikA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            function dark_mode() {
                if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.getElementsByTagName('html')[0].classList = 'dark';
                };
            };

            dark_mode();
        </script>
    </head>

    <body class="bg-gray-100 dark:bg-gray-900">
        <template x-if="t !== null">
            <div class="min-h-screen-wrapper">
                <header class="text-white shadow bg-gradient-to-r from-red-500 to-yellow-600">
                    <div class="container py-4 mx-auto" itemscope itemtype="http://schema.org/Person">
                        <h1 class="text-3xl font-semibold" itemprop="name">Kevin Svitač</h1>
                        <p class="text-lg" itemprop="jobTitle">Full-stack developer</p>
                    </div>
                </header>

                <main x-data="i18n" class="container grid grid-cols-1 gap-8 mx-auto my-12 md:grid-cols-2 flex-grow-main">
                    {% block content %}{% endblock content %}
                </main>
                
                <footer class="mt-8 text-white shadow bg-gradient-to-r from-red-500 to-yellow-600">
                    <div class="container py-4 mx-auto">
                        <p class="text-center">&copy; 2023, Kevin Svitač (AKA. SKevo)</p>
                    </div>
                </footer>
            </div>
        </template>

        <script type="text/javascript">
            async function fetchLangJson() {
                const lang = new URLSearchParams(window.location.search).get('lang') || navigator.language.split('-', 1)[0];

                response = await fetch(`/static/i18n/${lang}.json`, {method: 'GET'})
                if (response.status != 200) {
                    response = await fetch(`/static/i18n/en.json`, {method: 'GET'})
                }

                return await response.json();
            };


            window.addEventListener('alpine:init', () => {
                Alpine.data('i18n', () => ({
                    async init() {
                        this.t = await fetchLangJson()
                    },
                    t: null
                }))
            })


            window.addEventListener('beforeprint', () => {
                document.getElementsByTagName('html')[0].classList = '';
            });

            window.addEventListener('afterprint', () => {
                dark_mode();
            });
        </script>
    </body>
</html>
