{% extends "base.html" %}

{% block content %}
<section class="mb-8">
    <h2 class="flex items-center mb-4 text-2xl font-semibold text-yellow-500">
        <i class="mr-2 fas fa-user"></i> <span x-text="t.cv.profile"></span>
    </h2>
    <p x-text="t.cv.bio" class="text-gray-700 dark:text-gray-300"></p>
</section>

<section class="mb-8">
    <h2 class="flex items-center mb-4 text-2xl font-semibold text-yellow-500">
        <i class="mr-2 fas fa-briefcase"></i> <span x-text="t.cv.experience"></span>
    </h2>

    <template x-for="experience in t.cv.experiences" :key="experience.href">
        <a x-bind:href="experience.href" class="mb-4">
            <h3 x-text="experience.title" class="text-xl font-semibold"></h3>
            <p x-text="experience.timespan" class="text-gray-600 dark:text-gray-400"></p>

            <ul class="pl-5 list-disc">
                <template x-for="task in experience.tasks">
                    <li x-text="task"></li>
                </template>
            </ul>
        </a>
    </template>
</section>

<section class="mb-8">
    <h2 class="flex items-center mb-4 text-2xl font-semibold text-yellow-500">
        <i class="mr-2 fas fa-graduation-cap"></i> <span x-text="t.cv.education"></span>
    </h2>

    <template x-for="education in t.cv.educations" :key="education.title">
        <div>
            <h3 x-text="education.title" class="text-xl font-semibold"></h3>
            <p class="text-gray-600 dark:text-gray-300"><span x-text="education.school"></span> - <span x-text="education.timespan"></span></p>
        </div>
    </template>
</section>

<section class="mb-8">
    <h2 class="flex items-center mb-4 text-2xl font-semibold text-yellow-500">
        <i class="mr-2 fas fa-tools"></i> <span x-text="t.cv.skill"></span>
    </h2>

    <template x-for="[category, skills] in Object.entries(t.cv.skills)" :key="category">
        <div>
            <h3 x-text="category" class="text-xl dark:text-white"></h3>

            <ul class="grid grid-cols-2 gap-2" class="text-gray-800 dark:text-gray-200">
                <template x-for="skill in skills">
                    <li x-text="skill"></li>
                </template>
            </ul>
        </div>
    </template>
</section>

<section class="mb-8">
    <h2 class="flex items-center mb-4 text-2xl font-semibold">
        <i class="mr-2 fas fa-project-diagram"></i> <span x-text="t.cv.project"></span>
    </h2>

    <template x-for="project in t.cv.projects" :key="project.href">
        <div class="mb-4">
            <h3 x-text="project.title" class="text-xl font-semibold"></h3>
    
            <p class="text-gray-600 dark:text-gray-400">
                <a x-bind:href="project.href" x-text="project.href" target="_blank" rel="noopener noreferrer"></a>
            </p>

            <p x-text="project.description" class="text-gray-700 dark:text-gray-300"></p>
        </div>
    </template>
</section>

<section>
    <h2 class="flex items-center mb-4 text-2xl font-semibold">
        <i class="mr-2 fas fa-envelope"></i> <span x-text="t.cv.contact"></span>
    </h2>

    <ul class="text-gray-700 dark:text-gray-300">
        <template x-for="link in t.connect" :key="link.href">
            <li><span x-text="link.text"></span> <a x-bind:href="link.href" x-text="href" target="_blank" rel="noopener noreferrer"></a></li>
        </template>
    </ul>
</section>
{% endblock content %}
