{% extends "_base.html" %}

{% block content %}
<template x-for="section in t.main.sections" :key="section.href">
    <section>
        <h2 x-text="section.title" class="mb-4 text-2xl font-semibold dark:text-white"></h2>
        <p x-text="section.text" class="mb-4 text-gray-700 dark:text-gray-300"> </p>

        <a x-bind:href="section.href" x-text="section.button" class="px-4 py-2 text-white bg-yellow-600 rounded hover:bg-yellow-700"></a>
    </section>
</template>

<section>
    <h2 x-text="t.main.connect" class="mb-4 text-xl font-semibold text-black dark:text-white"></h2>

    <ul class="grid grid-cols-2 text-gray-700 dark:text-gray-300">
        <template x-for="link in t.connect" :key="link.href">
            <li>
                <a x-bind:href="link.href" target="_blank" rel="noopener noreferrer" class="text-gray-600 dark:text-gray-400 hover:text-yellow-600 dark:hover:text-yellow-400">
                    <i x-bind:class="link.icon"></i> <span x-html="link.text"></span>
                </a>
            </li>
        </template>
    </ul>
</section>
{% endblock content %}
